{% extends 'base.html' %}
    {% block content %}
    <div class="container">
      <h1>Math Calculator</h1>
      <form class="" action="" method="get">
        {% csrf_token %}
        <div class="">
          <!-- <textarea class="num_input" rows="3" class="form_control" placeholder="Enter a value" type="number"></textarea> -->

          <input type="number" class="form-control" placeholder="Enter Number" name="num_input">
        </div>

          <br>  <!-- {{ data }} {{ x }} -->
        <div class="container">
          <select name="operator">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">&times;</option>
            <option value="/">&divide;</option>
          </select>
        </div>
          <br>
        <div class="">
          <input type="number" class="form-control" placeholder="Enter Number" name="num_input2">
          <!-- <textarea class="num_input2" rows="3" class="form_control" placeholder="Enter a value" type="number"></textarea> -->
        </div>
        <br>
        <div class="">
          <input class="btn btn-default" type="submit" value="Submit">
        </div>
      </form>
    </div>
    <div class="container">
      <h2>Answer: {{ num }} {{ oper }} {{ num2 }} = {{ output }}</h2>
    </div>



  </body>
  {% endblock %}
