{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      {% if request.user.is_authenticated %}
      <button type="button" class="btn btn-default btn-xs"><a href="{% url 'profile_view' request.user.id %}">Profile</a></button>
      <button type="button" class="btn btn-default btn-xs"><a href="{% url 'profile_update_view' request.user.id %}">Edit Access</a></button>
      <ul></ul>
        <form class="" action="" method="post">
          {% csrf_token %}
          {{ form.as_p }}
        <input type="submit" name="" value="Enter">
        </form>
        {% else %}
     <h1>Please login </h1>
     {% endif %}
    </div>
    <div class="panel-body">
      <h4>Equations</h4>
      <hr>
      {% for answer in operation %}
        {% if request.user == answer.created_by or request.user.profile.is_owner %}

        {{answer.num_1}} {{answer.operator}} {{answer.num_2}} = {{answer.answer}} &nbsp;  by:{{answer.created_by}}<br>
        <br>
        {% endif %}
        {% endfor %}
    </div>
    </div>
  </div>
</div>
{% endblock %}
